<section
    class="bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header class="flex flex-col">
            <h2 class="text-white pt-40 text-[40px] font-medium">
                Disfrute de Tesla
            </h2>
            <p class="text-white text-sm">
                Programe una prueba de conduccion hoy mismo
            </p>
        </header>

        <footer class="flex flex-grow justify-end flex-col pb-20">
            <div>
                <a
                    class="border-[3px] rounded bg-white/5 backdrop-blur-xl font-medium text-sm text-white px-12 py-2 hover:bg-white
                            hover:text-black transition-colors border-white"
                    href="#"
                >
                    Prueba de conduccion</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10">
        <video
            class="object-center"
            autoplay
            muted
            loop
            src="/public_video.webm"></video>
    </div>
</section>
