---
import Section from "./Section.astro";
---

<Section
    title="Model Y"
    subtitle="Lease starting at $399/mo*"
    color="white"
    id="model-y"
>
    <div slot="footer" class="gap-x-6 flex mx-auto">
        <a
            class="bg-black bg-opacity-30 p-4 text-sm rounded font-medium text-white px-20 py-2 inline-block"
            href="#"
        >
            Order Now</a
        >
        <a
            class="bg-white bg-opacity-30 p-4 text-sm rounded font-medium text-black px-20 py-2 inline-block"
            href="#"
        >
            Demo Drive</a
        >
    </div>

    <video
        slot="background"
        class="object-center object-cover h-full w-full"
        autoplay
        muted
        loop
        src="Homepage-Model-Y.mp4"></video>
</Section>

<script>
    function isEdge() {
        if (
            navigator.userAgent.indexOf("Edge") > -1 ||
            navigator.userAgent.indexOf("Edg") > -1
        ) {
            return true;
        } else {
            return false;
        }
    }

    var videoElement = document.querySelector(
        "#bg-video-modely",
    ) as HTMLVideoElement;

    if (isEdge()) {
        videoElement.src = "Homepage-Model-Y.mp4";
    }
</script>
