---

        
---

<div slot="footer" class="gap-x-6 flex mx-auto">
      <header
            class="w-screen bg-center h-[45vh]"
            style="background-image: url('SupportMain_Hero.jpg'); background-size: 110%;"
      >
            <div class="flex items-center justify-center">
                  <div class="my-6 mx-auto rounded-sm text-xs relative">
                        <input
                              class="w-auto my-20 m-auto rounded text-xs text-gray-600 px-28 py-3 items-start font-extralight"
                              type="search"
                              placeholder="Search Support"
                        />
                        <img
                              src="search icon.svg"
                              alt="Search Icon"
                              class="absolute left-2 top-1/2 transform -translate-y-1/2 w-4 h-4"
                        />
                  </div>
            </div>
      </header>
</div>

<div class="mx-32 my-20">
      <h1 class="font-sans text-xl text-black items-start">Trending Topics</h1>
      <nav>
            <ul
                  class="font-light text-base inline-flex justify-center items-center gap-12 my-8"
            >
                  <li
                        class="text-black transition hover:text-blue-900 hover:underline"
                  >
                        Add a Vehicle
                  </li>
                  <li
                        class="text-black transition hover:text-blue-900 hover:underline"
                  >
                        Supercharging Credits
                  </li>
                  <li
                        class="text-black transition hover:text-blue-900 hover:underline"
                  >
                        Leasing
                  </li>
                  <li
                        class="text-black transition hover:text-blue-900 hover:underline"
                  >
                        Schedule Service
                  </li>
                  <li
                        class="text-black transition hover:text-blue-900 hover:underline"
                  >
                        Cost of Solar
                  </li>
                  <li
                        class="text-black transition hover:text-blue-900 hover:underline"
                  >
                        Troubleshoot Solar
                  </li>
            </ul>
      </nav>
</div>

<section>
      
      <div class="text-xl">
            <div class="flex justify-center space-x-4">
                  
                  <button
                        class="bg-opacity-30 p-4 font-medium text-black px-36 py-2 inline-flex justify-center items-center hover:text-gray-600"
                  >
                        Vehicles
                  </button>

                  <button
                        class="bg-opacity-30 p-4 font-medium text-black px-20 py-2 inline-flex justify-center items-center hover:text-gray-600"
                  >
                        Energy
                  </button>
            </div>
            <nav class="flex justify-center gap-24">
                  <ul
                        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
                  >
                        <h2 class="text-lg font-semibold text-black">
                              Features and Charging
                        </h2>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Autopilot
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Software Updates
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Upgrades
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Supercharging
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Home Charging
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Security Features
                        </li>
                  </ul>
                  <ul
                        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
                  >
                        <h2 class="text-lg font-semibold text-black">
                              Service and Collision Repair
                        </h2>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Do It Yourself Guides
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Schedule a Service Visit
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Find a Collision Center
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Roadside Assistance
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Vehicle Warranty
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Tire Care and Repair
                        </li>
                  </ul>
                  <ul
                        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
                  >
                        <h2 class="text-lg font-semibold text-black">
                              Tesla Account
                        </h2>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Add a Vehicle
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Account Support
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Tesla App
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Refer and Earn
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Financing & Leasing
                        </li>
                  </ul>
            </nav>
            <nav class="flex justify-center gap-24">
                  <ul
                        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
                  >
                        <h2 class="text-lg font-semibold text-black">
                              PowerWall
                        </h2>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              How Powerwall Works
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              System Design
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Prepare for Installation
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Best Practices During Power Outages
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Mobile App Monitoring
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Troubleshooting
                        </li>
                        <li class="text-sm underline text-gray-700">
                              Learn More
                        </li>
                  </ul>
                  <ul
                        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
                  >
                        <h2 class="text-lg font-semibold text-black">
                              Solar Roof
                        </h2>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Why Solar Roof
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Installation Overview
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Installation Process
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Troubleshooting Your System
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Incentives
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Monitoring
                        </li>
                        <li class="text-sm underline text-gray-700">
                              Learn More
                        </li>
                  </ul>
                  <ul
                        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
                  >
                        <h2 class="text-lg font-semibold text-black">
                              Solar Panels
                        </h2>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Why Tesla Solar
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Solar Panel Sizing and Design
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Turn On Your System
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Billing
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Troubleshooting Your System
                        </li>
                        <li class="text-sm hover:text-blue-700 hover:underline">
                              Real Estate and Solar Transfer FAQs
                        </li>
                        <li class="text-sm underline text-gray-700">
                              Learn More
                        </li>
                  </ul>
            </nav>
      </div>
</section>

<section class="flex my-28">
      <div class="flex items-start justify-center mx-36 gap-x-6">
            <img
                  class="max-w-screen-sm bg-center h-[60vh]"
                  src="video_walk_md.jpg"
                  alt="Video Guides"
            />

            <div class="text-start gap-10 my-10">
                  <h1 class="text-black text-xl font-bold">Video Guides</h1>

                  <p class="text-sm text-gray-500 font-extralight my-16">
                        The latest videos in the Tesla Video Guides – designed
                        to<br />
                         educate you on product features. Learn about all your
                        vehicle<br />
                         and energy products.
                  </p>

                  <a
                        href="/support/videos"
                        class="text-black underline text-xs my-4"
                        >View Video Guides</a
                  >
            </div>
      </div>
</section>

<section class="flex">
      <div class="flex items-end mx-36 gap-x-6 my-28">
            <div class="text-right gap-x-10 my-10 items-end justify-end">
                  <h1 class="text-black text-xl font-bold">Getting Started</h1>

                  <p
                        class="text-sm text-gray-700 font-normal my-10 items-end justify-end"
                  >
                        Learn about your Tesla ownership experience – including
                        designing and taking delivery of your vehicle.
                  </p>

                  <nav class="flex items-end justify-end">
                        <ul
                              class="list-none text-sm items-end font-semibold inline-flex flex-col gap-6 text-black underline"
                        >
                              <li class="hover:text-blue-700">
                                    Ordering a Used Vehicle
                              </li>
                              <li class="hover:text-blue-700">
                                    Prepare for Delivery Day
                              </li>
                              <li class="hover:text-blue-700">
                                    Taking Delivery
                              </li>
                              <li class="hover:text-blue-700">
                                    After Taking Delivery
                              </li>
                              <li class="hover:text-blue-700">Find Us</li>
                        </ul>
                  </nav>
            </div>
            <img
                  class="max-w-screen-sm bg-center h-[60vh]"
                  src="getting_started_Asset.avif"
                  alt="Testa Models"
            />
      </div>
</section>

<section class="bg-gray-100 flex flex-col justify-center items-center py-16">
      <a class="text-black font-extrabold text-xl gap-x-6">
            Can’t find what you are looking for?
      </a>
      <p class="text-sm font-extralight font-sans my-2">
            If you still can't find what you're looking for in our support
            resources, contact customer support directly.
      </p>
      <button
            class=" my-4 font-thin text-sm bg-white text-black border-2 rounded-md border-black leading-15 mx-auto py-2 px-16"
      >
            Contact us
      </button>
</section>

<section class="bg-gray-700 text-white w-screen bg-center h-[70vh]">
      <div class="flex my-10">
            <div class="mx-10 my-10 flex items-center justify-end">
                  <div class="flex text-xs font-extralight justify-between">
                        <h1 class="mb-10">
                              Your closest Store and Service Center is
                              Yucatán-Mérida
                        </h1>
                        <p class=" mx-8">Cancún, QRO Supercharger</p>
                  </div>
            </div>

            <div class="flex mx-10">
                  <div
                        class="flex flex-col mr-12 gap-6 justify-end my-10 mx-10 px-10"
                  >
                        <ul class="text-sm font-light gap-2">
                              <li>Model S</li>
                              <li>Model 3</li>
                              <li>Model X</li>
                              <li>Model Y</li>
                              <li>Cybertruck</li>
                              <li>Energy</li>
                              <li>Roadster</li>
                              <li>Semi</li>
                        </ul>
                        <ul class="text-sm font-light gap-6">
                              <li>About</li>
                              <li>Careers</li>
                              <li>Get Newsletter</li>
                              <li>Contact</li>
                              <li>Tesla Account</li>
                        </ul>
                  </div>

                  <div class="flex">
                        <ul class="text-sm font-light gap-2  my-10 mx-10" >
                              <li>Order a Tesla</li>
                              <li>Incentives</li>
                              <li>Test drive events</li>
                              <li>Accessories & apparel</li>
                              <li>Vehicle recals</li>
                              <li>Investors</li>
                              <li>Suppliers</li>
                        </ul>
                  </div>
            </div>
      </div>
</section>
<footer class="bg-gray-700 text-xs font-normal text-white">
      <span class="flex items-start">
           <p class=" my-10 mx-10"> 
            Tesla © 2023 | Privacy & Legal
           </p>
      </span>
</footer>
