---

---

<div slot="footer" class="gap-x-6 flex mx-auto">
    <header
        class="w-screen bg-center h-[45vh]"
        style="background-image: url('SupportMain_Hero.jpg'); background-size: 110%;"
    >
        <div class="flex items-center justify-center">
            <div class="my-6 mx-auto rounded-sm text-xs relative">
                <input
                    class="w-auto my-20 m-auto rounded text-xs text-gray-600 px-28 py-3 items-start font-extralight"
                    type="search"
                    placeholder="Search Support"
                />
                <img
                    src="search icon.svg"
                    alt="Search Icon"
                    class="absolute left-2 top-1/2 transform -translate-y-1/2 w-4 h-4"
                />
            </div>
        </div>
    </header>
</div>
<div class="mx-32 my-20">
    <h1 class="font-sans text-xl text-black items-start">Trending Topics</h1>
    <nav>
        <ul
            class="font-light text-base inline-flex justify-center items-center gap-12 my-8"
        >
            <li
                class="text-black transition hover:text-blue-900 hover:underline"
            >
                Add a Vehicle
            </li>
            <li
                class="text-black transition hover:text-blue-900 hover:underline"
            >
                Supercharging Credits
            </li>
            <li
                class="text-black transition hover:text-blue-900 hover:underline"
            >
                Leasing
            </li>
            <li
                class="text-black transition hover:text-blue-900 hover:underline"
            >
                Schedule Service
            </li>
            <li
                class="text-black transition hover:text-blue-900 hover:underline"
            >
                Cost of Solar
            </li>
            <li
                class="text-black transition hover:text-blue-900 hover:underline"
            >
                Troubleshoot Solar
            </li>
        </ul>
    </nav>
</div>
<div class="flex items-center justify-center text-xl">
    <div class="flex flex-col items-center gap-y-4">
        <a
            class="bg-opacity-30 p-4 font-medium text-black px-36 py-2 inline-flex justify-center items-center hover:text-gray-600"
            href="#"
        >
            Vehicles
        </a>
        <div class="flex justify-center gap-24">
            <ul
                class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
            >
                <li class="text-lg font-semibold text-black">
                    Features and Charging
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Autopilot
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Software Updates
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Upgrades
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Supercharging
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Home Charging
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Security Features
                </li>
            </ul>
            <ul
                class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
            >
                <li class="text-lg font-semibold text-black">
                    Service and Collision Repair
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Do It Yourself Guides
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Schedule a Service Visit
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Find a Collision Center
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Roadside Assistance
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Vehicle Warranty
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Tire Care and Repair
                </li>
            </ul>
            <ul
                class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
            >
                <li class="text-lg font-semibold text-black">Tesla Account</li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Add a Vehicle
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Account Support
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Tesla App
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Refer and Earn
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Financing & Leasing
                </li>
            </ul>
        </div>

        <a
            class="bg-opacity-30 p-4 font-medium text-black px-20 py-2 inline-flex justify-center items-center hover:text-gray-600"
            href="#"
        >
            Energy
        </a>
        <div class="flex justify-center gap-24">
            <ul
                class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
            >
                <li class="text-lg font-semibold text-black">PowerWall</li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    How Powerwall Works
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    System Design
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Prepare for Installation
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Best Practices During Power Outages
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Mobile App Monitoring
                </li>
                <li class="text-sm hover:text-blue-700 hover:underline">
                    Troubleshooting
                </li>
                <li class="text-sm underline text-gray-700">Learn More</li>
            </ul>
            <ul
            class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
        >
            <li class="text-lg font-semibold text-black">Solar Roof</li>
            <li class="text-sm hover:text-blue-700 hover:underline">
                Why Solar Roof
            </li>
            <li class="text-sm hover:text-blue-700 hover:underline">
                Installation Overview
            </li>
            <li class="text-sm hover:text-blue-700 hover:underline">
                Installation Process
            </li>
            <li class="text-sm hover:text-blue-700 hover:underline">
                Troubleshooting Your System
            </li>
            <li class="text-sm hover:text-blue-700 hover:underline">
                Incentives
            </li>
            <li class="text-sm hover:text-blue-700 hover:underline">
                Monitoring
            </li>
            <li class="text-sm underline text-gray-700">
                Learn More
            </li>
        </ul>
        <ul
        class="text-sm font-extralight inline-flex flex-col items-center gap-x-8 gap-y-4 text-gray-600"
    >
        <li class="text-lg font-semibold text-black">Solar Panels</li>
        <li class="text-sm hover:text-blue-700 hover:underline">
            Why Tesla Solar
        </li>
        <li class="text-sm hover:text-blue-700 hover:underline">
            Solar Panel Sizing and Design
        </li>
        <li class="text-sm hover:text-blue-700 hover:underline">
            Turn On Your System
        </li>
        <li class="text-sm hover:text-blue-700 hover:underline">
            Billing 
        </li>
        <li class="text-sm hover:text-blue-700 hover:underline">
            Troubleshooting Your System
        </li>
        <li class="text-sm hover:text-blue-700 hover:underline">
            Real Estate and Solar Transfer FAQs
        </li>
        <li class="text-sm underline text-gray-700">
            Learn More
        </li>
    </ul>
        </div>
    </div>
</div>
